.social {
    display: flex;
    position: absolute;
    bottom: 2rem;
    align-items: center;

}

.social-share {
    display: flex;
    margin-left: 1rem;
}

.social i {
    font-size: 2rem;
    cursor: pointer;

}

.button-share {
    width: 200px;
    height: 45px;
    border: none;
    background-color: #fff;
    color: #006eff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s ease;

}

.button-share:hover {
    transform: scale(1.1);
}

/* Social */
.facebook, .whatsapp, .twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.facebook {
    background-color: blue;
}

.whatsapp {
    background-color: rgb(0, 255, 0);
}

.twitter {
    background-color: #00aced;
    color: #fff;
}