.home 
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 5rem;
}
.home-text 
{
    width: 100%;
    margin-top: 2rem;
    color: #000;
}
.home-image 
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.home-image img 
{
    width: 180px;
}