.footer 
{
    height: 20vh;
    background-color: #fafafa;
    box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.212);
    color: #006eff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
}
