/* button */

.button-app 
{
  width: 200px;
  height: 45px;
  border: none;
  background-color: #006eff;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 50px;
  margin-top: 1rem;
  cursor: pointer;
  transition: .3s ease;
  
}
.button-app:hover
{
  transform: scale(1.1);
}

.fa-search 
{
  background-color: #fafafa;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  color: #006eff;
  font-size: 1.3rem;
  transition: all 1s ease;
}