.header 
{
  height: 10vh;
  width: 100vw;
  background-color: #fafafa;
  box-shadow: 0px 2px 10px  rgba(0, 0, 0, 0.212);
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100;
  top: 0;
}
.header-empty 
{
  height: 10vh;
}
.nav 
{
    margin: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    
}
.nav ul 
{
    display: flex;
    align-items: center;
}
.nav ul li 
{
    margin-right: 1rem;
}
.nav ul li a 
{
    color: #111;
    font-weight: 500;
}
.nav .logo img 
{
    width: 50px;
    animation: spin 3s infinite alternate ;
}
@keyframes spin 
{
    from 
    {
        transform: rotate(360deg);
    }

}